
header {
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  background-color: white;
}

header nav {
  padding-right: 40px;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-bottom: 10px;
  flex-grow: 1;
}

.logo img {
  margin-right: 12px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
}

.content {
  display: flex;
  width: 100%;
  padding-top: 100px;
  margin: 0 auto 80px auto;
}

div {
  border: 1px solid black;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small  {
  width: 240px;
}
