
header {
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 80px;
  z-index: 1;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  background-color: white;
}

header nav {
  padding-right: 40px;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-bottom: 10px;
  flex-grow: 1;
}

.logo img {
  margin-right: 12px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
}

.content {
  display: flex;
  width: 100%;
  padding-top: 116px;
  margin: 0 auto 80px auto;
}

div {
  display: block;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.main-story .image-content {
  background-image: url("../images/img-story-main.png");
  font-size: 40px;
}

.image-content {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: left;
  height: 300px;
}

.story-content {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.stories .story-content {
  height: 250px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.fall-cancelled.image-content {
  background-image: url("../images/img-story-2.png");
}

.pop-culture.image-content {
  background-image: url("../images/img-story-3.png");
}

.cat-ceo.image-content {
  background-image: url("../images/img-story-1.png");
}

.column.medium {
  width: 300px;
}

.column.small  {
  width: 240px;
}
